@charset "UTF-8";
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
	background-color: #000;
	font-weight: 500;
}

img {
	height: auto;
}

.form-control {
	background-color: transparent;
}
.f-group-w-icon {
	position: relative;
	.icon {
		position: absolute;
		right: 10px;
		top: 50%;
		font-size: 20px;
		margin-top: -10px;
	}
	.form-control {
		padding-right: 30px;
	}
}